#fichiers de python
program/__pycache__/*

#fichiers de vscode
.vscode/*

#controlleur du robot reel
program/py_ergojr

#Les fichiers pdf en rapport avec ce stage
pdf/*

#fichiers résultats du programme
files

#fichier personnel pour stopper le robot reel
program/stop.py

#fichier temporaires pour latex
rapport/rapport.aux
rapport/rapport.bbl
rapport/rapport.blg
rapport/rapport.fdb_latexmk
rapport/rapport.fls
rapport/rapport.log
rapport/rapport.out
rapport/rapport.synctex.gz
rapport/rapport.toc



#fichier temporaires pour latex
soutenance/soutenance.aux
soutenance/soutenance.bbl
soutenance/soutenance.blg
soutenance/soutenance.fdb_latexmk
soutenance/soutenance.fls
soutenance/soutenance.log
soutenance/soutenance.out
soutenance/soutenance.synctex.gz
soutenance/soutenance.toc
soutenance/soutenance.dvi
soutenance/soutenance.nav
soutenance/soutenance.snm