#fichiers de python
program/__pycache__/*

#fichiers de vscode
.vscode/*

#controlleur du robot reel
program/py_ergojr

#Les fichiers pdf en rapport avec ce stage
pdf/*

#fichiers résultats du programme
files/InverseModel
files/NearestNeighbor

#fichier personnel pour stopper le robot reel
program/stop.py

#fichier temporaires pour latex
rapport/*
!rapport/rapport.tex